# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# Airflow
airflow.cfg
airflow.db
airflow-webserver.pid
logs/
unittests.cfg
airflow.cfg
airflow-webserver.pid
webserver_config.py
dags/tasks

# Environment variables
.env

# Docker
.docker/

# PostgreSQL
postgres_data/

# OS specific
.DS_Store
.venv
venv/
ENV/